@section test{
    @model IEnumerable<Domain.Entity.Titre>

    

<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>ID</th>
                <th>Libelle</th>
                <th>Activite</th>
                <th>Type</th>
                <th>Code Operation</th>
                <th>Code Prov Relance</th>
                <th>Date Injection</th>
                <th>Nombre Fiches Injectees</th>
                <th>Action</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>ID</th>
                <th>Libelle</th>
                <th>Activite</th>
                <th>Type</th>
                <th>Code Operation</th>
                <th>Code Prov Relance</th>
                <th>Date Injection</th>
                <th>Nombre Fiches Injectees</th>
                <th>Action</th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.libelle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.activite)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.codeOperation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.codeProvRelance)
                    </td>
                    <td>
                    <td>
                        @Html.DisplayFor(modelItem => item.dateInjection)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombreFichesInjectees)
                    </td>
                    <td>
                        @using (Html.BeginForm("Edit", "Titre", new { id = item.Id }, FormMethod.Get, new { enctype = "multipart/form-data" }))
                        {
                            <div class="form-group">
                                <div class="col-md-2">
                                    <input type="submit" value="Editer" class="btn btn-primary" />
                                </div>
                            </div>
                        }
                    </td>
                    <td>
                        @using (Html.BeginForm("Details", "User", new { id = item.Id }, FormMethod.Get, new { enctype = "multipart/form-data" }))
                        {
                            <div class="form-group">
                                <div class="col-md-2">
                                    <input type="submit" value="Details" class="btn btn-warning" />
                                </div>
                            </div>
                        }
                    </td>
                    <td>
                        <div class="form-group">
                            <div class="col-md-2">
                                <p data-placement="top" title="Delete">
                                    <button id="imed" data-id="@item.Id" data-title="Supprimer Employé" data-toggle="modal" class="btn btn-danger">Delete</button>
                                </p>
                            </div>
                        </div>

                    </td>



                </tr>
            }
        </tbody>
    </table>
</div>
<div id="explorer1">


</div>
<script src="/Content/Template1/vendor/jquery/jquery.min.js"></script>

<script type="text/javascript">

          $(document).ready ( function () {
              $(document).on ("click", "#imed", function () {
                  var $buttonClicked = $(this);
                  var id = $buttonClicked.attr('data-id');
              $.ajax({
                  url: '/Titre/FindTitre',
                  type: "GET",
                  contentType: "application/json; charset=utf-8",
                  data: { "Id": id },
                  datatype: "html",
                  async:true,
                  success: function(data) {
                      $('#explorer1').html(data);
                      $('#modifier').modal('show');
                    },



              });


              })
          })

</script>
<div>
    @Html.ActionLink("Back", "Index")
</div>   
}
    