<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>InfoProd - Responsive Web Application Kit by InfoProd-Team</title>
    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="/Content/template/Layout 1/LTR/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="/Content/template/Layout 1/LTR/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/Content/template/Layout 1/LTR/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="/Content/template/Layout 1/LTR/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="/Content/template/Layout 1/LTR/assets/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src="/Content/template/Layout 1/LTR/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="/Content/template/Layout 1/LTR/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="/Content/template/Layout 1/LTR/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="/Content/template/Layout 1/LTR/assets/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script type="text/javascript" src="http://echarts.baidu.com/dist/echarts.min.js"></script>
    <script type="text/javascript" src="/Content/template/Layout 1/LTR/assets/js/plugins/visualization/d3/d3.min.js"></script>
    <script type="text/javascript" src="/Content/template/Layout 1/LTR/assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
    <script type="text/javascript" src="/Content/template/Layout 1/LTR/assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script type="text/javascript" src="/Content/template/Layout 1/LTR/assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="/Content/template/Layout 1/LTR/assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
    <script type="text/javascript" src="/Content/template/Layout 1/LTR/assets/js/plugins/ui/moment/moment.min.js"></script>
    <script type="text/javascript" src="/Content/template/Layout 1/LTR/assets/js/plugins/pickers/daterangepicker.js"></script>
    <script type="text/javascript" src="/Content/template/Layout 1/LTR/assets/js/core/app.js"></script>
    <script type="text/javascript" src="/Content/template/Layout 1/LTR/assets/js/pages/form_multiselect.js"></script>
    <script type="text/javascript" src="/Content/template/Layout 1/LTR/assets/js/plugins/notifications/pnotify.min.js"></script>
    <script type="text/javascript" src="/Content/template/Layout 1/LTR/assets/js/plugins/forms/selects/bootstrap_select.min.js"></script>
    <script type="text/javascript" src="/Content/template/Layout 1/LTR/assets/js/pages/form_bootstrap_select.js"></script>
    @*<script type="text/javascript" src="/Content/template/Layout 1/LTR/assets/js/pages/dashboard.js"></script>*@
    <!-- /theme JS files -->
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    @*<script type="text/javascript" src="/Content/template/Layout 1/LTR/assets/js/core/libraries/jquery.min.js"></script>*@
    <script src="http://echarts.baidu.com/dist/echarts.min.js"></script>


    <script type="text/javascript" src="/Content/template/Layout 1/LTR/assets/js/plugins/visualization/echarts/echarts.js"></script>
    <script type="text/javascript" src="~/Content/template/Layout 1/LTR/assets/js/plugins/visualization/echarts/chart/pie.js"></script>
    <script type="text/javascript" src="~/Content/template/Layout 1/LTR/assets/js/plugins/visualization/echarts/chart/bar.js"></script>
    <script type="text/javascript" src="~/Content/template/Layout 1/LTR/assets/js/plugins/visualization/echarts/chart/radar.js"></script>
    <script type="text/javascript" src="~/Content/template/Layout 1/LTR/assets/js/plugins/visualization/echarts/chart/gauge.js"></script>
    <script type="text/javascript" src="~/Content/template/Layout 1/LTR/assets/js/plugins/visualization/echarts/chart/K.js"></script>
    <script type="text/javascript" src="~/Content/template/Layout 1/LTR/assets/js/plugins/visualization/echarts/chart/line.js"></script>
    <script type="text/javascript" src="~/Content/template/Layout 1/LTR/assets/js/plugins/visualization/echarts/chart/scatter.js"></script>
    <script type="text/javascript" src="/Content/template/Layout 1/LTR/assets/js/plugins/visualization/echarts/theme/limitless.js"></script>
    <script type="text/javascript" src="/Content/template/Layout 1/LTR/assets/js/charts/echarts/combinations.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script type="text/javascript" src="assets/js/core/libraries/jquery_ui/interactions.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/ui/moment/moment.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/ui/fullcalendar/fullcalendar.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/ui/fullcalendar/lang/ar.js"></script>
    <script type="text/javascript" src="assets/js/core/app.js"></script>
    <script type="text/javascript" src="assets/js/pages/extra_fullcalendar_advanced.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    @*<script type="text/javascript" src="/Content/template/Layout 1/LTR/assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>*@
</head>
<body>
    <!-- Main navbar -->
    <div class="navbar navbar-inverse" style="color:chartreuse">
        <div class="navbar-header">
            <a class="navbar-brand" style="height:auto"><img src="/Content/template/Layout 1/LTR/assets/images/logoPng.png" style="height:80px"></a>
            <div class="navbar-brand" style="position: absolute;left: 35%;font-size:40px;padding-top:39px;font-family:'Baskerville Old Face';font-weight:bold"><span style="color:gray">Bienvenue sur </span><span style="color:#ff0000"> INFO</span><span style="color:gray">-PROD</span></div>
            <ul class="nav navbar-nav pull-right visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            </ul>
        </div>
        <div class="navbar-collapse collapse" id="navbar-mobile" style="padding-top:30px;">
            <ul class="nav navbar-nav">
                <li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>
                @RenderSection("Notifications", required: false)

            </ul>


            <ul class="nav navbar-nav navbar-right">
             
                <li class="dropdown dropdown-user">
                   
                    @RenderSection("testProfile", required: false)

                    <ul class="dropdown-menu dropdown-menu-right">
                      
                        <li><a href="@Url.Action("logout", "Authentification")"><i class="icon-switch2"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- /main navbar -->
    <!-- Page container -->
    <div class="page-container">
        <!-- Page content -->
        <div class="page-content">
            <!-- Main sidebar -->
            <div class="sidebar sidebar-main" style="background-color:black">
                <div class="sidebar-content" style="background-color:black">
                    <!-- User menu -->
                    <div class="sidebar-user">
                        <div class="category-content">
                            <div class="media">
                                @*<a href="#" class="media-left"><img src="/Content/template/Layout 1/LTR/assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></a>
                                    <div class="media-body">
                                        <span class="media-heading text-semibold">Victoria Baker</span>
                                        <div class="text-size-mini text-muted">
                                            <i class="icon-pin text-size-small"></i> &nbsp;Santa Ana, CA
                                        </div>
                                    </div>*@
                                @RenderSection("testProfileLeft", required: false)
                                <div class="media-right media-middle">
                                    <ul class="icons-list">
                                        <li>
                                            <a href="#"><i class="icon-cog3"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /user menu -->
                    <!-- Main navigation -->
                    <div class="sidebar-category sidebar-category-visible" style="background-color:black">
                        <div class="category-content no-padding" >
                            <ul class="navigation navigation-main navigation-accordion">
                                <!-- Main -->
                                <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
                                <li class="active"><a href="index.html"><i class="icon-home4"></i> <span>Accueil</span></a></li>
                                <li><a href="@Url.Action("JournalierAgent", "Home")"><i class="icon-chart"></i> <span>Suivi Journalier</span></a></li>
                                <li><a href="@Url.Action("HebdoAgent", "Home")"><i class="icon-graph"></i> <span>Suivi Hebdomadaire</span></a></li>
                                <li><a href="@Url.Action("MensuelAgent", "Home")"><i class="icon-statistics"></i> <span>Suivi Mensuel</span></a></li>
                                <li><a href="@Url.Action("TrimestrielAgent", "Home")"><i class="icon-stats-dots"></i> <span>Suivi Trimestriel</span></a></li>
                                <li><a href="@Url.Action("AnnuelleAgent", "Home")"><i class="icon-stats-bars"></i> <span>Suivi Annuel</span></a></li>
                                <li><a href="@Url.Action("IndexAgentGroupes", "Home")"><i class="icon-stats-bars2"></i> <span>Suivi Par Activité</span></a></li>
                                <li><a href="@Url.Action("AnnuelleAgent", "Home")"><i class="icon-stack2"></i> <span>Suivie Annuelle</span></a></li>
                                <li>
                                    <a href="@Url.Action("Index", "Alerte")"><i class="glyphicon glyphicon-alert"></i> <span>Alertes</span></a>
                                    <ul>
                                        <li><a href="@Url.Action("IndexAgentRecived", "Alerte")">Boite de réception</a></li>
                                        <li><a href="@Url.Action("AlerteSeenByAgent", "Alerte")">Alertes Lu</a></li>

                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /main navigation -->
                </div>
            </div>
            <!-- /main sidebar -->
            <!-- Main content -->
            <div class="content-wrapper">
                <!-- Page header -->
                <div class="page-header">
                    <div class="page-header-content">
                        <div class="page-title">
                            <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Home</span> - Dashboard</h4>
                        </div>

                    </div>
                    <div class="breadcrumb-line">
                        <h4></h4>  <ul class="breadcrumb">
                            <li><a href="index.html" class="text-semibold"><i class="icon-home2 position-left"></i> Home</a></li>
                            @RenderSection("title", required: false)

                        </ul>

                    </div>
                </div>
                <!-- /page header -->
                <!-- Content area -->
                <div class="content">
                    <!-- Main charts -->
                    <div class="row">
                        @RenderSection("test", required: false)

                        <!-- /dashboard content -->
                        <!-- Footer -->
                        <div class="footer text-muted">
                            &copy; 2018. <a href="#">INFOPROD</a> by <a href="#">DSI TUNIS</a>
                        </div>
                        <!-- /footer -->
                    </div>
                    <!-- /content area -->
                </div>
                <!-- /main content -->
            </div>
            <!-- /page content -->
        </div>
    </div>
    @RenderBody()
    <!-- /page container -->
</body>
</html>
