@model MVCWEB.Models.EmployeeViewModel

@{
    ViewBag.Title = "IndexManagerGroupes";
    Layout = "~/Views/Shared/_Layout_user.cshtml";
}
@section test{


    <p style="padding-left:20px;font-size:18px">Veuillez Choisir votre groupe de collaborateur</p>
    @*<div class="panel panel-white">
        <div class="panel-heading">
            <h6 class="panel-title text-semibold">Liste de Groupes par Manager</h6>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                    <li><a data-action="reload"></a></li>
                    <li><a data-action="close"></a></li>
                </ul>
            </div>
        </div>*@


    <div class="row"style="padding-left:150px">
        @foreach (var item in Model.Group)
    {

            @*<a href="@Url.Action("IndexManagerAgentTest", "Home", new { id = item.Id })"><img src="~/Content/template/Layout 1/LTR/assets/images/grp.png" alt="..." class="img-thumbnail">
                     @Html.DisplayFor(modelItem =>
                                        item.nom)
                </a>*@


            <div class="col-lg-3" style="padding-top:20px;height:200px">
                <div class="thumbnail" style="-moz-border-radius: 5px;border-radius: 20px;-webkit-box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.97);-moz-box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.97);box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.97);">
                    <a href="@Url.Action("IndexManagerAgentTest", "Home", new { id = item.Id })">
                        <h1 style="padding-left:35px;color:black;padding-top:30px;font-family:Arial;font-weight:bold">@Html.DisplayFor(modelItem => item.nom)</h1>
                    </a>
                    <div class="caption">
                        <p>
                            Responsable<br />
                            <span style="color:darkblue">@Html.DisplayFor(modelItem => item.responsable)</span>
                        </p>
                    </div>
                </div>
            </div>

        }
    </div>


}
@section testProfile{

    <a class="dropdown-toggle" data-toggle="dropdown">
        <img src=@Model.image alt="">
        <span>@Model.userName</span>
        <i class="caret"></i>
    </a>
}
@section testProfileLeft{
    <a href="#" class="media-left"><img src=@Model.image class="img-circle img-sm" alt=""></a>
    <div class="media-body">
        <span class="media-heading text-semibold">@Model.userName</span>
        <div class="text-size-mini text-muted">
            <i class="icon-user text-size-small"></i> &nbsp;@Model.pseudoName
        </div>
    </div>
}