@model MVCWEB.Models.EmployeeViewModel

@{
    ViewBag.Title = "IndexManagerGroupes";
    Layout = "~/Views/Shared/_Layout_user.cshtml";
}
@section test{



    @*<div class="panel panel-white">
        <div class="panel-heading">
            <h6 class="panel-title text-semibold">Liste de Groupes par Manager</h6>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                    <li><a data-action="reload"></a></li>
                    <li><a data-action="close"></a></li>
                </ul>
            </div>
        </div>*@



    @foreach (var item in Model.Group)
    {

        @*<a href="@Url.Action("IndexManagerAgentTest", "Home", new { id = item.Id })"><img src="~/Content/template/Layout 1/LTR/assets/images/grp.png" alt="..." class="img-thumbnail">
                 @Html.DisplayFor(modelItem =>
                                    item.nom)
            </a>*@


        <div class="col-xs-2">
            <div class="thumbnail">
                <a href="@Url.Action("IndexManagerAgentTest", "Home", new { id = item.Id })">
                    <img src="~/Content/template/Layout 1/LTR/assets/images/grp.png" alt="...">
                </a>
                <div class="caption">
                    <h3>
                        @Html.DisplayFor(modelItem =>
                           item.nom)
                </h3>
                <p>
                    Responsable<br />
                    <span style="color:red">@Html.DisplayFor(modelItem => item.responsable)</span>
                </p>
            </div>
        </div>
    </div>


    }

}
@section testProfile{

    <a class="dropdown-toggle" data-toggle="dropdown">
        <img src=@Model.image alt="">
        <span>@Model.userName</span>
        <i class="caret"></i>
    </a>
}
@section testProfileLeft{
    <a href="#" class="media-left"><img src=@Model.image class="img-circle img-sm" alt=""></a>
    <div class="media-body">
        <span class="media-heading text-semibold">@Model.userName</span>
        <div class="text-size-mini text-muted">
            <i class="icon-user text-size-small"></i> &nbsp;@Model.pseudoName
        </div>
    </div>
}